body {
	font-family: "Segoe", "Segoe UI", "Sans-Serif";
	line-height: 160%;
	color: #606060;
	padding-left: 40px;
	padding-bottom: 40px;
}

dd + dt {
	margin-top: 20px;
}

div.code {
	margin-top: -20px;
}

dt img {
	vertical-align: middle;
	margin-right: 20px;
}

figcaption {
	margin-left: 40px;
	margin-top: 30px;
	margin-bottom: 15px;
	font-family: 'Times New Roman' ;
	font-style: italic;
	color: #808080;
}

gui {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: cadetblue;
}

h1 {
	margin-top: 40px;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 160%;
	color: #8080A0;
}

h1 + h2 {
	margin-top: initial;
}

h2 {
	margin-top: 40px;
}

h2[cbs] {
	background-position-y: 7px;
}

h3[cbs] {
	background-position-y: 2px;
}

h2[cbs], h3[cbs] {
	margin-left: -20px;
	margin-bottom: 0px;
	padding-top: 3px;
	padding-left: 40px;
	min-height: 32px;
	background-repeat: no-repeat;
	background-position-x: 0px;
}

h2[cbs] + div, h3[cbs] + div {
	overflow-y: hidden;
	margin-left: -20px;
	padding-left: 20px;
}

h2[cbs='0'], h3[cbs='0'] {
	background-image: url(orange-circle-32-minus.png);
}

h2[cbs='1'], h3[cbs='1'] {
	background-image: url(orange-circle-32-plus.png);
}

h2[cbs='1'] + div + h2[cbs='1'], h3[cbs='1'] + div + h3[cbs='1'] {
	margin-top: 0px;
}

img { 
	margin-left: 40px; 
	max-width: 400px;
}

kbd {
	font-family: 'Lucida Console', monospace;
	border: 1px solid #B0B0B0;
	padding: 2px 2px 0px 2px;
}

li > img {
	margin: 15px 0px 5px 0px;
}

tt {
	font-family: 'Arial Narrow', 'Franklin Gothic Medium', sans-serif,  'Times New Roman', Times;
	font-size: 100%;
	color: #4080A0;
}

ul.tree {
	list-style-type: none;
	padding-left: 5px;
	line-height: 32px;
}

ul.tree li > div {
	transition: height linear 1s;
}

ul.tree ul {
	list-style-type: none;
	padding-left: 0px;
	overflow-y: hidden;
	transition: height linear 1s;
}

ul.tree li {
	padding-left: 32px;
	min-height: 36px;
	background-image: url(orange-circle-32-dot.png);
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: top;
}

ul.tree li[cts="0"] {
	background-image: url(orange-circle-32-minus.png);
}

ul.tree li[cts="1"] {
	background-image: url(orange-circle-32-plus.png);
}

ul.tree li[cts="0"][active] {
	background-image: url(orange-circle-32-minus-active.png);
}

ul.tree li[cts="1"][active] {
	background-image: url(orange-circle-32-plus-active.png);
}

.boxed {
	padding: 5px;
	border: solid 1px silver;
}

.code {
	font-family: 'Lucida Console', monospace;
	font-size: 80%;
	white-space: pre;
}

.footer {
	margin-left: -40px;
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: solid 1px silver;
	text-align: center;
	font-size: 75%;
}

.image {
	display: inline-block;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
}

.imgbox {
	overflow-x: auto;
}

.info {
	border: solid 1px green;
	padding: 5px 10px 10px 10px;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.instructions {
	margin-top: 30px;
	margin-bottom: 30px;
}

.instructions p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.navigation a {
	text-decoration: none;
}

.navigation a:hover {
	text-decoration: underline;
}

.navigation abstract {
	white-space: normal;
	display: block;
	overflow: hidden;
	transition: height linear 1s, margin-bottom 1s;
	line-height: 24px;
}

.no-padding {
	padding: 0px;
}

.note {
	border: solid 1px orange;
	padding: 5px 10px 10px 10px;
	margin-top: 30px;
	margin-right: 40px;
	margin-bottom: 30px;
}

.nobullet {
	list-style: none;
}

.tip {
	border: solid 1px cornflowerblue;
	padding: 5px 10px 10px 10px;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

#page-menu {
	position: sticky;
	top: 0px;
	margin-left: -40px;
	padding-left: 5px;
	background-color: white;
	border-top: solid 1px silver;
	border-bottom: solid 1px silver;
}

#page-menu a {
	text-decoration: none;
	color: #606060;
}

#page-menu a:hover {
	text-decoration: underline;
}

#page-menu > div {
	text-decoration: none;
	display: inline-block;
	margin-left: 20px;
	cursor: pointer;
} 

#page-menu > div:hover {
	text-decoration: underline;
}

#navigation-panel {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	padding-top: 10px;
	padding-right: 20px;
	border: solid 2px orange;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: white;
	white-space: nowrap;
}

#xnavigation-panel abstract {
	white-space: normal;
	overflow: visible;
}

#navigation-panel div.xabstractContainer {
	display:block;
	width: auto;
	margin-left: 40px;
	overflow: hidden;
	transition: height linear 1s;
	line-height: 24px;
}

#navigation-panel ul { 
	overflow: hidden; 
}

#navigation-panel ul.tree li[cts="2"] {
	background-image: url(orange-circle-32-plus.png);
}

#navigation-panel ul.tree li[cts="3"] {
	background-image: url(orange-circle-32-minus.png);
}

#navigation-panel ul.tree li[active] {
	background-image: url(orange-circle-32-dot-active.png);
}

#navigation-panel ul.tree li[cts="0"][active] {
	background-image: url(orange-circle-32-minus-active.png);
}

#navigation-panel ul.tree li[cts="1"][active] {
	background-image: url(orange-circle-32-plus-active.png);
}

#navigation-panel ul.tree li[cts="2"][active] {
	background-image: url(orange-circle-32-plus-active.png);
}

#navigation-panel ul.tree li[cts="3"][active] {
	background-image: url(orange-circle-32-minus-active.png);
}

#navigation-tree ul.tree li[cts="2"] {
	background-image: url(orange-circle-32-plus.png);
}

#navigation-tree ul.tree li[cts="3"] {
	background-image: url(orange-circle-32-minus.png);
}
