<!DOCTYPE HTML> 
<html><head><title>FreeCAD User Book - Assembly 3 - </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="USPR">
<meta name="creation-date" content="2019-11-13">
<meta name="editor" content="USPR">
<meta name="modification-date" content="2019-11-13">
<meta name="document-version" content="2">
<meta name="template-version-date" content="2019-11-17">
<link rel="stylesheet" href="../inc/topic-1.css" />
</head><body>

<h1>The Freecad User Book</h1>
<div id="page-menu"></div>
<h1></h1>

<div id="navigation-panel"></div>

<div>
<p>Intro</p>
</div>

<h3 cbs="1">Tags</h3><div>
<p><tag>Freecad</tag>, <tag>Assembly 3</tag>.</p>
</div>

<h3 cbs="1">Files</h3><div>
<ul>
<li id="file-001"><a href="../../files/asm3/link-1/???.fcstd">???.fcstd</a>&emsp;Initial State File</li>
/ul></div>

<h3 cbs="1">Videos</h3><div>
<ul>
<li id="vid-001"><a href="???.mp4">???.mp4</a>&emsp;Assembly 3 Video Title</li>
</ul></div>

<div id="script-area">
<script src="../inc/topic-1.js"></script>
<script>
// Request document resources.
Synesis.Loader.request ( {
	uriPrefix: "../" ,
	uris : "table-of-contents.htm" ,
	targetContainers : "navigation-panel" ,
	successHandlers : [ Synesis.Loader.prefixLinks, Synesis.Loader.integrateResponseHtml ], 
	finishedHandlers : [ Synesis.CollapsibleBlock.initDocument, Synesis.CollapsibleTree.initDocument, Synesis.NavigationTree.initDocument, Synesis.Navigation.initDocument ]
} ) ;
</script>

</div></body></html>